.posts-section {
  width: 70%;
  padding: 1.6rem;
}

.noFound {
  color: #e03131;
  margin-top: 12rem;
  text-align: center;
  font-size: 6rem;
}

.posts-search {
  display: grid;
  row-gap: 1rem;
  padding: 1rem 1.4rem;
  background-color: hsl(0, 0%, 95%);
  border-radius: 10px;
  margin: 1.4rem 0;
}

.posts-search h2 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.1px;
}

.posts-search label {
  display: block;
  width: 100%;
}

.posts-search input {
  box-shadow: inset 2px 2px 5px var(--color-shadow), inset -5px -5px 10px #fff;
  width: 100%;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  font-family: 'Montserrat', sans-serif;
}

.posts-search input:focus {
  box-shadow: inset 1px 1px 2px var(--color-shadow),
    inset -1px -1px 2px var(--color-white);
}

.posts-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.posts-search a {
  text-decoration: none;
  color: #37b24d;
  font-size: 1.8rem;
  margin-right: 6rem;
}

.posts-search a:hover {
  color: hsl(131, 53%, 40%);
}

.post {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 1.5rem 1.6rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post button {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 1.6rem;
  border-width: 0 0 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 2rem;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.3rem 1.6rem;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 25%;
}

.post button::after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.post button:main,
.post button:focus {
  user-select: auto;
}

.post button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.plus {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0, 4rem;
  position: relative;
}

.plus img {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-left: 10px;
  position: absolute;
}

@media screen and (max-width: 890px) {
  .post button {
    width: 60%;
  }
}

@media screen and (max-width: 769px) {
  .posts-section {
    width: 90%;
  }
}
