@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ruler: 1.6rem;
  --color-bg: #ebecf0;
  --color-white: #fff;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

body {
  font-size: 1.6rem;
  background-color: hsl(0, 0%, 99%);
}

.main {
  min-height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 55%;
  }
}
